.title {
    width:400px;height:100px;
  border: solid 1px #555;
  background-color: #eed;
  box-shadow: 10px -10px  rgba(0,0,0,0.6);
  -moz-box-shadow: 10px -10px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 10px -10px  rgba(0,0,0,0.6);
  -o-box-shadow: 10px -10px  rgba(0,0,0,0.6);
  font-size:50px;
  position:relative;
  top:100px;
}
.body {
    background-color: lemonchiffon;
}
.login {
    width:1000px;
    height:400px;
    border-style:solid;
    margin:auto;

}
.loginh2 {
    width:100%;
    border-style:solid;
    background-color:black;
    color:lemonchiffon;
}
.format {
    display:flex;
    flex-direction: column;
}
#username{
    height:50px;

}
#password{
    height:50px;

}