<body class="body">
    <nav class="navbar navbar-expand-lg bg-dark py-5">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
         
          
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a href="/dashboard" class="btn btn-dark btn-lg">Home <i class="fa fa-home fa-1x" aria-hidden="true"></i></a>
              </li>
              <div class="title">Your Dashboard</div>
              
              <li class="nav-item">
                <a href="/dashboard" class="btn btn-dark btn-lg">Dashboard <i class="fa fa-home fa-1x" aria-hidden="true"></i></a>
              </li>
              <li class="nav-item">
                <a href="/dashboard" class="btn btn-dark btn-lg">Login <i class="fa fa-home fa-1x" aria-hidden="true"></i></a>
              </li>
              <li class="nav-item">
                <a href="/dashboard" class="btn btn-dark btn-lg">Logout <i class="fa fa-home fa-1x" aria-hidden="true"></i></a>
              </li>
             
             
                
           
          </div>
          
         
        </div>
      </nav>
      <br>
      <br>
      <br>
      <br>
      <form class="login-form"> 
        <div class="login">
            <h2 class="loginh2">Create New Post</h2>
            <div class="format"> 
                <h2>Title</h2>
                <input class="form-input" type="text" id="title" name="username"/>
                <br>
                <h2>Content</h2>
                <input class="form-input" type="text" id="content" name="password"/>
                <br>
                <button onclick="loginHandler()" type="button" class="btn btn-dark btn-lg" id="signinbtn">Create </button>
            </div>
            
        
        </div>
        <button onclick="loginHandler()" type="button" class="btn btn-dark btn-lg" id="newpostbtn">+ New Post</button>
        
    </form>

      
    
</body>
</html>
